.display {
	margin: 20px auto 40px;
	padding: 15px 30px;
	border: 2px;
	outline: none;
	cursor: pointer;
	font-size: 18px;
	font-weight: 500;
	color: var(--tg-theme-button-text-color);
	/* background: var(--tg-theme-button-color); */
	/* background: var(#3388ee); */
	width: 100%; /* Сделаем кнопку на всю ширину контейнера */
	/* max-width: 300px; Максимальная ширина кнопки */
	box-sizing: border-box; /* Убедимся, что padding и ширина не конфликтуют */
	text-align: center;
}
